@import './edit_server_form/edit_server_form';

.full-page-form{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  font-family: 'Catamaran', sans-serif;

  .full-page-form-column-1{
    background-color: rgba(50, 50, 50, 1);
    color: white;
    font-size: 17px;
    top: 0;
    bottom: 0;
    width: 30vw;
  }
  
  .full-page-form-options-list{
    float: right;
    padding: 30px 10px;
    right: 0;
    width: 200px;
  }
  
  .full-page-option-set{
    border-bottom: 1px solid #505050;
    padding: 5px 0;
  }
  
  .full-page-form-options-heading{
    color: gray;
    font-weight: 900;
    padding: 5px;
  }
  
  .full-page-form-option{
    color: gray;
    padding: 5px;
  }
  
  .full-page-form-option:hover,
  .option-selected{
    background-color: rgba(55, 55, 55, 1);;
    color: lightgray;
    cursor: pointer;
  }
  
  .full-page-special-option-set{
    padding: 10px 0;
  }
  
  .special-option{
    color: red;
  }
  
  .special-option:hover{
    color: red;
  }
  
  .full-page-form-column-2{
    background-color: rgba(54, 57, 63, 1);
    color: white;
    top: 0;
    bottom: 0;
    padding: 30px;
    width: 40vw;
  }

  .full-page-form-heading{
    font-size: 20px;
  }  

  .image-input{
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .profile-photo-container{
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .change-image-overlay{
      display: none;
      text-align: center;
      align-items: center;
      background-color: rgba(100, 100, 100, 0.8);
      border-radius: 50%;
      content: "CHANGE ICON";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .profile-photo-container:hover > .change-image-overlay{
    display: flex;
  }
  
  .profile-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .full-page-form-column-3{
    background-color: rgba(54, 57, 63, 1);
    text-align: center;
    width: 30vw;
    padding: 40px 0;

    h1{
      color: rgba(100, 100, 100, 1);
      font-size: 15px;
      padding-top: 5px;
    }
  }

  .form-close-container{
    text-align: center;
    width: 30px;
  }

  .current-heading{
    text-align: center;
    width: 34px;
  }
  
  .full-page-form-close-button{
    align-items: center;
    display: flex;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 50%;
    justify-content: center;
    width: 30px;
    height: 30px;

    svg{
      color: rgba(200, 200, 200, 1);
      height: 15px;
      width: 15px;
    }
  }
  
  .full-page-form-close-button:hover{
    background-color: rgba(100, 100, 100, 1);
    cursor: pointer;
  }
}
