.text-channel-index{
  color: white;
  height: calc(100% - 50px);
  margin: 0;

  .server-name-header{
    padding: 10px;
  }

  .text-channel-header{
    padding: 10px;
  }

  .text-channel-item{
    padding: 10px;
  }
}