.create-channel-form{
  border-radius: 5%;
  color: white;
  font-family: 'Catamaran', sans-serif;
  position: relative;
  width: 400px;
  
  .server-form-body{
    background-color: rgba(60, 60, 60, 1);
    padding: 10px;
    padding-bottom: 15px;
  }

  .close-form{
    color: rgba(150, 150, 150, 1);
    cursor: pointer;
    top: 15px;
    right: 15px;
    position: absolute;

    svg{
      height: 20px;
      width: 20px;
    }
  }

  .close-form:hover{
    color: white;
  }

  .form-heading{
    padding: 30px 0 10px;
    text-align: center;
    
    h1{
      font-size: 25px;
      font-weight: 900;
    }

    p{
      color: gray;
      font-size: 12px;
    }
  }

  .field-inputs{
    h3{
      font-size: 12px;
      padding: 5px 0;
    }

    input[type=text]{
      border: 2px solid rgba(25, 25, 25, 1);
      background-color: rgba(50, 50, 50, 1);
      color: white;
      width: 100%;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 15px;
      padding: 10px;
      outline: none;
      width: 100%;
    }

    input[type=text]:focus{
      border: 2px solid rgba(0, 170, 240, 1);
    }
  }

  .server-form-footer{
    background-color: rgba(50, 50, 50, 1);
    height: 50px;
    position: relative;
    padding: 10px;
  }

  .button-container{
    display: flex;
    font-size: 12px;
    float: right;
  }

  .submit-button{
    background-color: rgba(88, 101, 242, 1);
    border: none;
    border-radius: 5%;
    color: white;
    cursor: pointer;
    line-height: 30px;
    padding: 5px 10px;

    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .submit-button:hover{
    background-color: rgba(70, 80, 200, 1);
  }

  .cancel-button{
    border: none;
    background-color: transparent;
    color: white;
    text-decoration: none;

    position: absolute;
    top: 50%;
    right: 35%;
    transform: translateY(-50%);
  }

  .cancel-button:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}