.session-page{
  // Both Login and Signup
  background: asset_url("session_form_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Catmaran', sans-serif;
  height: 100vh;
  position: relative;

  .session-form{
    background-color: rgba(55, 55, 55, 1);
    border-radius: 5px;
    color: rgba(185, 187, 190, 1);

    // Positioning in middle of screen
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1{
      color: white;
      font-family: 'Catamaran', sans-serif;
      font-size: 30px;
      font-weight: 550;
    }

    input[type=text]{
      background-color: rgba(45, 45, 45, 1);
      border: 1px solid black;
      border-radius: 5px;
      box-sizing: border-box;
      color: rgba(185, 187, 190, 1);
      font-size: 15px;
      padding: 10px;
      outline: none;
      width: 100%;
    }

    input[type=text]:focus{
      border: 1px solid rgba(0, 170, 240, 1);
    }

    input[type=password]{
      background-color: rgba(45, 45, 45, 1);
      border: 1px solid black;
      border-radius: 5px;
      box-sizing: border-box;
      color: rgba(185, 187, 190, 1);
      font-size: 15px;
      padding: 10px;
      outline: none;
      width: 100%;
    }

    input[type=password]:focus{
      border: 1px solid rgba(0, 170, 240, 1);
    }

    button{
      background-color: rgba(88, 101, 242, 1);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      font-size: 15px;
      height: 40px;
      width: 100%;
    }
  
    button:hover{
      background-color: rgba(71, 82, 197, 1);
    }
  }

  .field{
    padding: 10px 0;
  }
  
  .label{
    padding: 5px 0;

    h3{
      font-size: 12px;
      padding-bottom: 10px;
    }
  }

  .error{
    h3{
      color: rgba(235, 80, 80, 1);

      i{
        font-style: italic;
      }
    }

    input[type=text]{
      border: 1px solid rgba(235, 80, 80, 1);
    }

    input[type=text]:focus{
      border: 1px solid rgba(235, 80, 80, 1);
    }

    input[type=password]{
      border: 1px solid rgba(235, 80, 80, 1);
    }

    input[type=password]:focus{
      border: 1px solid rgba(235, 80, 80, 1);
    }
  }
  
  .button-container{
    padding: 10px 0;
  }

  .redirect-link-container{
    h2{
      color: rgba(100, 100, 100, 1);
      font-size: 14px;
    }

    a{
      color: rgba(0, 170, 240, 1);
      text-decoration: none;
    }

    a:hover{
      text-decoration: underline;
    }
  }

  // Login Specific
  .login-form{
    display: flex;
  }

  .form-side{
    padding: 30px;
    width: 350px;
  }

  .form-side-subheading{
    padding: 10px 0;
  }

  .demo-side{
    height: 100%;
    padding: 7.5% 20px;
    text-align: center;
    width: 300px;
  }

  .demo-button-container{
    padding: 20px;

    button{
      font-size: 25px;
      height: 150px;
      width: 150px;
    }
  }

  .demo-heading-container{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
  }

  // Signup Specific
  .signup-form{
    padding: 30px;
    width: 400px;

    h1{
      text-align: center;
    }
  }

  .custom-selects-container{
    display: flex;
  }

  .custom-select{
    width: 30%;

    select{
      width: 100%;
    }
  }

  .middle-select{
    padding: 0 15px;
  }
}