.text-channel-index{
  color: white;
  height: calc(100% - 50px);
  margin: 0;

  .server-name-header{
    padding: 10px;
  }

  .text-channel-list{
    color: gray;
  }

  .text-channel-header{
    display: flex;
    padding: 10px;
  }
  
  .text-channel-header-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 900;
    width: 90%;
  }

  .text-channel-header-heading:hover{
    color: rgba(200, 200, 200, 1);
  }

  .add-text-channel-button{
    cursor: pointer;
  }

  .add-text-channel-button:hover{
    color: rgba(200, 200, 200, 1);
  }

  .text-channel-item{
    display: flex;
    padding: 10px;
  }

  .text-channel-item:hover{
    background-color: rgba(60, 60, 60, 1);
    color: rgba(200, 200, 200, 1);
    cursor: pointer;
  }

  .hash-icon{
    padding-right: 10px;
  }
}