@import 
  'server_form';

.server-index{
  background-color: rgba(32, 34, 37, 1);
  text-align: center;
  width: 80px;

  img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  img:hover{
    border-radius: 30%;
  }

  .server-index-item{
    position: relative;
    margin: 5px;
  }

  .server-index-item:hover{
    cursor: pointer;
  }

  .server-index-item  > .before{
    background-color: black;
    border-radius: 10%;
    color: white;
    display: none;
    padding: 5px 10px;
    position: absolute;
    width: fit-content;

    top: 50%;
    transform: translateY(-50%);
    left: 60px;

    p{
      width: 100%;
    }
  }

  .server-index-item > .after{
    content: "";
    display: none;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    right: -15px;

    border-top: 13px solid transparent;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-right: 8px solid black;
  }

  .server-index-item:hover > .before,
  .server-index-item:hover > .after {
    display: inline-block;
  }

  .add-server-icon{
    border-radius: 50%;
    background-color: rgba(100, 100, 100, 1);
    color: rgba(80, 200, 120, 1);
    cursor: pointer;
    height: 20px;
    padding: 15px;
    width: 20px;
  }

  .add-server-icon:hover{
    background-color: rgba(0, 200, 150, 1);
    border-radius: 30%;
    color: white;
  }

  .server-context-menu{
    background-color: black;
    color: white;
    position: absolute;

    li{
      padding: 5px 10px;
    }

    li:hover{
      background-color: rgba(90, 100, 240, 1);
      cursor: pointer;
    }
  }
}

