@import 
  'server/server_index',
  'server/server_main_index',
  'main_index/main_index',
  'current_user/current_user_form',
  'current_user/current_user_options',
  'user_index/user_index',
  'text_channel/text_channel',
  'message/message_index';

.main{
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  .column-2{
    background-color: rgba(47, 49, 54, 1);
    width: 250px;
  }  

  .column-3{
    background-color: rgba(54, 57, 63, 1);
    width: 100%;
  }
}