.current-user-form{
  background-color: rgba(47, 49, 54, 1);
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;

  .column-1{
    color: white;
    top: 0;
    bottom: 0;
  }

  .logout-link{
    color: red;
  }

  .column-2{
    background-color: rgba(54, 57, 63, 1);
    color: white;
    top: 0;
    bottom: 0;
  }
}