.splash{
  // Splash global
  header{
    color: white;
  }

  h1{
    font-size: 50px;
  }

  a {
    color: inherit;
    text-decoration: none
  };

  a:hover{
    text-decoration: underline;
  }

  // Splash by inner component
  header{
    align-items: center;
    background-color: #351075;
    display: flex;
    justify-content: space-evenly
  }

  nav{
    display: flex;
    justify-content: space-evenly;  
    padding: 20px 0;
  }

  .nav-link{
    padding: 0 20px;
  }

  .link-button{
    border-radius: 12px;
    background-color: white;
    color: #351075;
    padding: 5px 15px;
    text-align: center
  }

  .intro-header{
    background: asset_url("clamor_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .attribution{
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .main-block{
    height: 800px;
  }
}