.current-user-page-form{
  .my-account-edit{
    padding: 0 10px;
  }

  .full-page-form-box{
    background-color: rgba(30, 30, 30, 1);
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;
  }

  .profile-photo-container{
    min-width: 100px;
  }
  
  .current-user-username{
    font-size: 20px;
    padding: 10px;
  }

  .full-page-form-box-header{
    align-items: center;
    display: flex;
  }

  .button-container{
    float: right;
    width: 100%;
  }

  .current-user-edit-button{
    background-color: rgba(88, 101, 242, 1);
    border: none;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    float: right;
    line-height: 30px;
    padding: 5px 25px;
  }

  .current-user-edit-button:hover{
    background-color: rgba(70, 80, 200, 1);
  }

  .full-page-inner-form{
    background-color: rgba(50, 50, 50, 1);
    border-radius: 5px;
    padding: 10px;
  }

  .form-field{
    padding: 5px;
    right: 0;

    h3{
      color: gray;
      padding: 10px;
    }

    input{
      background-color: transparent;
      border: none;
      color: white;
      font-family: 'Catamaran', sans-serif;
      font-size: 20px;
      padding: 5px 10px;
      right: 0;
    }

    input:focus{
      outline: none;
    }
  }
}