.current-user-options{
  background-color: rgba(41, 43, 47, 1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  margin: 0;

  img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }

  h1{
    color: white;
  }

  .settings-icon{
    color: rgba(175, 175, 175, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 32px;
    width: 32px;
  }

  .settings-icon:hover{
    background-color: rgba(60, 60, 60, 1);
    color: rgba(200, 200, 200, 1);
    cursor: pointer;
  }
}